.field-modal {
  width: 400px;
  background: white;
  color: white;
  z-index: 10;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  height: 30vh;
}
.dark-bg {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 30vh;
  left: 40vw;
  height: 40vh;
}

.modal-header {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 15px 20px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  padding: 10px 20px;
}
.modal-content > p {
  margin: 10px 20px;
}
.modal-input {
  height: 30px;
  width: 90%;
  height: 25px;
  border-radius: 5px 5px;
  outline: none;
  border: 2px solid rgb(208, 215, 251);
  margin: 0 20px;
}

.modal-actions {
  position: absolute;
  height: 30vh;
  top: 20%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0px 8px #2c3e50;
}

.actions-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 10px;
}

.create-btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 5px 5px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: rgb(103, 81, 246);
  margin-right: 10px;
  width: 150px;
}

.cancel-btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
}
.modal-height {
  height: 250px;
}
