.home-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #edefff;
  width: 100%;
  min-height: 100vh;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
